.root{
	-fx-background-color: rgb(15,181,94);
	-fx-padding: 50 5 50 5;
	-fx-border-color: rgb(255,170,170);
	-fx-border-width: 5px;
}

.buttonStyle1{
	-fx-background-color: rgb(124,183,237);
	-fx-border-color: rgb(44,137,160);
	-fx-border-width: 3px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-pref-width: 200px;
	-fx-pref-height: 50px;
	-fx-text-fill: white;
	-fx-font-size: 20px;
}

.buttonStyle1:pressed {
    -fx-background-color: rgb(44,137,160);
	-fx-border-color: rgb(124,183,237);
}

.buttonStyle1:hover {
    -fx-background-color: rgb(44,137,160);
	-fx-border-color: rgb(124,183,237);
}

.buttonMenu{
	-fx-background-color: none;
	-fx-background-image: url("retour.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;  
    -fx-background-size: 50 50;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px; 
}

.buttonMenu:hover{
	-fx-background-image: url("retourHover.png");
}

.buttonMenu:pressed{
	-fx-background-image: url("retourHover.png");
}

.buttonExit{
	-fx-background-color: none;
	-fx-background-image: url("exit.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;  
    -fx-background-size: 50 50;
    -fx-pref-width: 100px;
    -fx-pref-height: 100px; 
}

.buttonExit:hover{
	-fx-background-image: url("exitHover.png");
}

.buttonExit:pressed{
	-fx-background-image: url("exitHover.png");
}